#sidebar {
    background-color: #FFF5D6;
    color: #6d6e6e !important;
    min-width: 12%;
    .sidebar-link {
        &:hover {
            color: #B72215;
        }
    }
}

@media (max-width: 767px){
    #sidebar {
        min-width: none;
        position: fixed;
        width: 100%;
    }
  }
