#dashboard-page {
    .first-row, .second-row{
        background-color: #008036; // #7d9e41; // #EFF3F8;
    }
    .title {
        justify-self: center;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
}