html, body, #root, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100% !important;
    .main-layout-content {
        min-height: 100% !important;
        width: 100%;
    }
}