#tabs-component {
    .tabs-container {
        display: flex;
        flex-direction: row;
        .tab {
            &:hover {
                color: #008036;
            }
            &.activated {
                border-bottom-style: solid;
                border-bottom-color: #008036;
                border-bottom-width: 2px;
                font-weight: 500;
            }
        }

    }

}

@media (max-width: 640px) {
    .tabs-container {
        flex-direction: column !important;
    }
}